.vertical-timeline-element-date {
    color: #ffffff;
  }

.projects-header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px;

    h1 {
        color: #ffd700;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }
}

.vertical-timeline-element--work p{
    font-size: 110%;
    font-family: 'Trebuchet MS', sans-serif;
}

.project-technology {
    margin: -3px 8px 6px 0px;
}

.project-technology > * {
    font-size: 9px;
}

.vertical-timeline-element-title {
    margin: 10px 0;
}