.skills-header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px;

    h1 {
        color: #ffd700;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-card {
    margin: 2% 1%;
    width: clamp(25rem, 20%, 35rem);
    background-color: rgb(9, 57, 83);
    animation: fadeIn 1s backwards;
}

@for $i from 1 to 12 {
    .skill-card:nth-child(#{$i}) {
        animation-delay: $i * 0.25s;
    }
}

.skill-card-item > div {
    transition: scale 350ms ease,
        opacity 350ms linear;
}

.skill-card-item > div:hover {
    scale: 1.1;
}

.skill-card-item:has(div:hover) > div:not(:hover) {
    opacity: .7;
}

.skill-card-content {
    color: azure;
}

.skill-card-item {
    display: flex;
    flex-wrap: wrap;
}

.skill-tag {
    margin: 1px 8px 6px 0px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    .skills-container {
        flex-direction: column;
    }

    .skill-card {
        margin: 2% 3%;
        width: auto;
    }
}