.skills-header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px;

    h1 {
        color: #ffd700;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-card {
    margin: 2% 1%;
    width: 20%;
    background-color: rgb(9, 57, 83);
}

.skill-card-content {
    color: azure;
}

.skill-card-item {
    display: flex;
    flex-wrap: wrap;
}

.skill-tag {
    margin: 1px 8px 6px 0px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    .skills-container {
        flex-direction: column;
    }

    .skill-card {
        margin: 2% 3%;
        width: auto;
    }
}