.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 0.5s 1s backwards;
    }

    p {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px;
        font-family: 'Coolvetica';
        font-weight: 400;
        animation: fadeIn 1s backwards;
        &:nth-of-type(1) {
            animation-delay: 1.5s;
          }
          &:nth-of-type(2) {
            animation-delay: 2s;
          }
          &:nth-of-type(3) {
            animation-delay: 2.5s;
          }
    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }
}