.nav-bar {
  background: #181818;
  width: 6vw;
  height: 100vh;
  position: fixed;
  flex: 0 0 auto;
  top: 0;
  z-index: 3;
  min-height: 500px;
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-left: 10%;

    li {
      a {
        margin-bottom: 20px;
        display: block;
        font-size: 15px;
        line-height: 16px;
        color: #4d4d4e;
        font-size: 22px;
      }

      .anchor-icon {
        color:#5184a0;
      }

      &:hover {
        .anchor-icon {
          color: #ffd700;
        }
      }
    }
  }
}

nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  a {
    font-size: 22px;
    color: #4d4d4e;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;
    text-align: center;
    width: 100%;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      color: #ffd700;

      svg {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: '';
      font-size: 0.6vw;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      left: 100;
      display: block;
      width: 100%;
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }

    &:first-child {
      &:after {
        content: 'HOME';
      }
    }
  }

  a.about-link {
    &:after {
      content: 'ABOUT';
    }
  }

  a.projects-link {
    &:after {
      content: 'PROJECTS';
    }
  }

  a.experience-link {
    &:after {
      content: 'EXPERIENCE';
    }
  }

  a.contact-link {
    &:after {
      content: 'CONTACT';
    }
  }

  a.skills-link {
    &:after {
      content: 'SKILLS';
    }
  }

  a.skillset-link {
    &:after {
      content: 'SKILLSET';
    }
  }

  a.portfolio-link {
    &:after {
      content: 'PORTFOLIO';
    }
  }

  a.active {
    svg {
      color: #ffd700;
    }
  }
}

@media screen and (max-width: 800px) {
  .page {
    margin-top: 18%;
  }
  .nav-bar {
    width: 100vw;
    height: 6vh;
    flex-direction: row;
    min-height: 0;
  }

  .nav-bar ul {
    flex-direction: row;
    align-items: center;
  }

  .nav-bar ul li a{
    margin: 0;
    padding-right: 10px;
  }

  .nav-bar ul li a {
    &:hover {
      .anchor-icon {
        color: #5184a0;
      }
    }
  }

  nav { 
    flex-direction: row;
  }

  nav a {
    &:hover {

      svg {
        opacity: 1;
      }

      &:after {
        opacity: 0;
      }
    }
  }
}