.experience-header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px;

    h1 {
        color: #ffd700;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    }
}